/* Custom color theme properties */
:root {
  --f7-theme-color: #FF6B22;
}

/* master detail width */
:root {
  --f7-page-master-width: 360px;
}

/* Your app custom styles here */
.view-master-detail .page-master-detail .link.back,
.view-master-detail .navbar-master-detail .link.back {
    display: none;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-searchbar-input-bg-color: #fff;
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
  --f7-list-margin-vertical: 0;
}
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}